body {
    font-family: system-ui;
    color:black;
    margin: 0px;
  }

strong, b {
		font-weight: 700;
  }

#tier {
    font-weight: 400;
  }

.header{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: midnightblue;
    top: 0;
    z-index: 1;
    position: sticky;
}

.navbar a{
    color: white;
    padding: 15px;
    font-size: large;
}

.paragraph{
    padding: 20px;
}

#step1{
    border: 15px solid rgb(0, 205, 0);
    padding: 10px;
    margin: 20px;
    margin-top: 30px;
}

#step2{
    border: 15px solid rgb(230, 230, 0);
    padding: 10px;
    margin: 20px;
    margin-top: 30px;
}

#step3{
    border: 15px solid rgb(230, 115, 0);
    padding: 10px;
    margin: 20px;
    margin-top: 30px;
}

#step4{
    border: 15px solid rgb(230, 0, 0);
    padding: 10px;
    margin: 20px;
    margin-top: 30px;
}

#step5{
    border: 15px solid rgb(102, 0, 51);
    padding: 10px;
    margin: 20px;
    margin-top: 30px;
}

#step6{
    border: 15px solid rgb(41, 0, 102);
    padding: 10px;
    margin: 20px;
    margin-top: 30px;
}