body {
    font-family: system-ui;
    color:black;
    margin: 0px;
  }

strong, b {
		font-weight: 700;
  }

#tier {
    font-weight: 400;
  }

.fixedElements{
    position: fixed;
    width: 100%;
}

.header{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    background-image: url("https://i.imgur.com/XhWN31A.jpg");
    background-size: 100%;
    height: 125px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #eee;
  }

.navbar li {
    float: left;
  }

.navbar li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navbar li a:hover:not(.active) {
    background-color: #ddd;
  }

.navbar li a.active {
    color: white;
    background-color: midnightblue;
  }

.columns{
    display: flex;
    flex-direction: row;
}

.sidenav{
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 200px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.main{
    margin-top: 179px;
    order: 2;
    margin-left: 140px;
}

.paragraph{
    padding: 20px;
}

.steps{
    padding: 10px;
    margin: 20px;
    margin-top: 30px;
    border-radius: 5px;
}

#step1{
    border: 15px solid rgb(0, 205, 0);
}

#step2{
    border: 15px solid rgb(230, 230, 0);
}

#step3{
    border: 15px solid rgb(230, 115, 0);
}

#step4{
    border: 15px solid rgb(230, 0, 0);
}

#step5{
    border: 15px solid rgb(102, 0, 51);
}

#step6{
    border: 15px solid rgb(41, 0, 102);
}