body {
    font-family: system-ui;
    color:black;
    margin: 0px;
  }

strong, b {
		font-weight: 700;
  }

#tier {
    font-weight: 400;
  }

.fixedElements{
    position: fixed;
    width: 100%;
}

.header{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    background-image: url("https://i.imgur.com/XhWN31A.jpg");
    background-size: 100%;
    height: 125px;
}

.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    top: 0%;
    background-color: midnightblue;
    padding-left: 10px;
}

.navbar a{
    color: white;
    padding: 15px;
    font-size: large;
}

.columns{
    display: flex;
    flex-direction: row;
}

.column1{
    margin-top: 179px;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: green;
    padding: 20px;
    height: 100%;
}

.column2{
    margin-top: 179px;
    order: 2;
    padding-left: 70px;
}

.paragraph{
    padding: 20px;
}

.steps{
    padding: 10px;
    margin: 20px;
    margin-top: 30px;
    border-radius: 5px;
}

#step1{
    border: 15px solid rgb(0, 205, 0);
}

#step2{
    border: 15px solid rgb(230, 230, 0);
}

#step3{
    border: 15px solid rgb(230, 115, 0);
}

#step4{
    border: 15px solid rgb(230, 0, 0);
}

#step5{
    border: 15px solid rgb(102, 0, 51);
}

#step6{
    border: 15px solid rgb(41, 0, 102);
}